.header
  background linear-gradient(to top, #e5e5e5, #f9f9f9)

  border-top 2px solid #bcbcbc

  height 35px
  
  padding 0

  &__menu
    background linear-gradient(to top, #656565, #343434)

    border-left   1px solid #bcbcbc
    border-right  1px solid #bcbcbc

    float left

    text-align center

    height 35px
    width  35px

    &__btn
      color white

      font-size 19px

      &__icon
        vertical-align middle

      &:hover
        color white

  &__breadcrumbs
    
    &__list
      background transparent