// header

header
    .container.header

        // header menu btn

        .header__menu
            a.header__menu__btn(href='#')
                span.glyphicon.glyphicon-menu-hamburger.header__menu__btn__icon(aria-hidden="true")

        // header breadcrumbs

        .header__breadcrumbs
            ol.breadcrumb.header__breadcrumbs__list
                li.header__breadcrumbs__list__list Проект
                li.header__breadcrumbs__list__list Тестовое задание
                li.header__breadcrumbs__list__list.active Верстка на bootstrap
